@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>What is LODHATS?</h2>
</hgroup>

<article>
    <p>
        LODHATS, or The  oLeaguef Dragon Hunters and Treasure Seekers, is a fan-made website dedicated to stream-lining the beginner Dungeon and Dragons experience.
        We do so by providing players with usefull tools designed to help new players spend less brain energy learning all the nuances of the expansive D&D universe, and more time doing what matters- playing the game.
    </p>
    '
    
    '
    <p>
        Our tools include the following
        <ul>
            <li><a href="~/">Character Creator</a></li>
            <li><a href="~/About">Party Manager</a></li>
            <li><a href="~/Contact">Dice Generator</a></li>
        </ul>
    </p>
</article>

<aside>
    <h3>Contact</h3>
    <p>
        We know that D&D can be a difficult hobby to get into- let alone master. If you have any questions, concerns, or suggestions directed towards our website please feel free to contact us <a href="~/Contact">here</a>
    </p>
</aside>