@{
    Layout = "~/_SiteLayout.cshtml";

    //if provided a character id, load character from db

    var name = "";

    //else create new
    Character character = new Character();

}
    <div class="jumbotron vertical-center">
        <h1 class="text-center text-capitalize text-lg-center">Character Sheet</h1>
        <p class="text-md-center">@name</p>
    </div>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm">
                    <div class="card mt-5">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                            <h2>Character Info</h2>
                        </div>
                        <div class="card-body collapse show" id="collapseOne">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCharacterName">Character Name</label>
                                    <input type="text" class="form-control" id="inputCharacterName" placeholder="Character Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="selectClass">Class:</label>
                                    <select class="form-control" id="selectClass" placeholder="Select Class">
                                        <option>Select class...</option>
                                        <option>Barbarian</option>
                                        <option>Bard</option>
                                        <option>Cleric</option>
                                        <option>Druid</option>
                                        <option>Fighter</option>
                                        <option>Monk</option>
                                        <option>Paladin</option>
                                        <option>Ranger</option>
                                        <option>Rogue</option>
                                        <option>Sorcerer</option>
                                        <option>Warlock</option>
                                        <option>Wizard</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputLevel">Level</label>
                                    <input type="number" min="0" class="form-control" id="inputLevel" placeholder="Level">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="selectRace">Race:</label>
                                    <select class="form-control" id="selectRace">
                                        <option>Select Race...</option>
                                        <option>Aarakocra</option>
                                        <option>Aasimar</option>
                                        <option>Bugbear</option>
                                        <option>Centaur</option>
                                        <option>Changeling</option>
                                        <option>Dragonborn</option>
                                        <option>Dwarf</option>
                                        <option>Elf</option>
                                        <option>Feral Tiefling</option>
                                        <option>Firbolg</option>
                                        <option>Genasi</option>
                                        <option>Gith</option>
                                        <option>Gnome</option>
                                        <option>Goblin</option>
                                        <option>Goliath</option>
                                        <option>Grung</option>
                                        <option>Half-Elf</option>
                                        <option>Half-Orc</option>
                                        <option>Halfling</option>
                                        <option>Hobgoblin</option>
                                        <option>Human</option>
                                        <option>Kalashtar</option>
                                        <option>Kenku</option>
                                        <option>Kobold</option>
                                        <option>Lizardfolk</option>
                                        <option>Locathah</option>
                                        <option>Loxodon</option>
                                        <option>Minotaur</option>
                                        <option>Orc of Eberron</option>
                                        <option>Orc of Exandria</option>
                                        <option>Orc</option>
                                        <option>Shifter</option>
                                        <option>Simic Hybrid</option>
                                        <option>Tabaxi</option>
                                        <option>Tiefling</option>
                                        <option>Tortle</option>
                                        <option>Triton</option>
                                        <option>Vedalken</option>
                                        <option>Verdan</option>
                                        <option>Warforged</option>
                                        <option>Yuan-ti Pureblood</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="selectAlignment">Alignment:</label>
                                    <select class="form-control" id="selectAlignment">
                                        <option>Select Alignment...</option>
                                        <option>Lawful Good</option>
                                        <option>Neutral Good</option>
                                        <option>Chaotic Good</option>
                                        <option>Lawful Neutral</option>
                                        <option>Neutral</option>
                                        <option>Chaotic Neutral</option>
                                        <option>Lawful Evil</option>
                                        <option>Neutral Evil</option>
                                        <option>Chaotic Evil</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputExperiencePoints">Experience Points</label>
                                    <input type="number" min="0" class="form-control" id="inputExperiencePoints" placeholder="Experience Points">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="selelectEyeColor">Eye Color:</label>
                                    <select class="form-control" id="selectEyeColor">
                                        <option>Select Eye Color...</option>
                                        <option>Black</option>
                                        <option>Blue</option>
                                        <option>Brown</option>
                                        <option>Green</option>
                                        <option>Grey</option>
                                        <option>Hazel</option>
                                        <option>Purple</option>
                                        <option>Red</option>
                                        <option>Yellow</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAge">Age</label>
                                    <input type="number" min="1" class="form-control" id="inputAge" placeholder="Age">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="selelectSkinColor">Skin Color:</label>
                                    <select class="form-control" id="selectSkinColor">
                                        <option>Select Skin Color...</option>
                                        <option>Black</option>
                                        <option>Blue</option>
                                        <option>Brown</option>
                                        <option>Green</option>
                                        <option>Olive</option>
                                        <option>Oriental</option>
                                        <option>Pink</option>
                                        <option>Red</option>
                                        <option>Tan</option>
                                        <option>Yellow</option>
                                        <option>White</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="selelectHairColor">Hair Color:</label>
                                    <select class="form-control" id="selecthairColor">
                                        <option>Select Hair Color...</option>
                                        <option>Black</option>
                                        <option>Blonde</option>
                                        <option>Brunette</option>
                                        <option>Dirty blonde</option>
                                        <option>Ginger</option>
                                        <option>Grey</option>
                                        <option>Strawberry</option>
                                        <option>White</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="card mt-3">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
                            <h2>Stats</h2>
                        </div>
                        <div class="card-body collapse show" id="collapseTwo">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputStrength">Strength</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputStrength" placeholder="Strength">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputDexterity">Dexterity</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputDexterity" placeholder="Dexterity">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputIntelligence">Intelligence</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputIntelligence" placeholder="Intelligence">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputSpeed">Speed</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputSpeed" placeholder="Speed">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputInspiration">Inspiration</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputInspiration" placeholder="Inspiration">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputConstitution">Constitution</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputConstitution" placeholder="Constitution">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputWisdom">Wisdom</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputWisdom" placeholder="Wisdom">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputCharisma">Charisma</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputCharisma" placeholder="Charisma">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="card mt-3">
                        <div class="card-header" data-toggle="collapse" href="#collapseFour" aria-expanded="true">
                            <h2>Skills</h2>

                        </div>
                        <div class="card-body collapse show" id="collapseFour">
                            <div class="form-row">
                                <h4 class="card-title">Strength</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkAthletics" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAthletics">Athletics</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputAthletics" placeholder="Athletics">
                                </div>
                            </div>
                            <div class="form-row">
                                <h4 class="card-title">Intelligence</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkArcana" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputArcana">Arcana</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputArcana" placeholder="Arcana">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkHistory" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputHistory">History</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputHistory" placeholder="History">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkInvestigation" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputInvestigation">Investigation</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputInvestigation" placeholder="Investigation">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkNature" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputNature">Nature</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputNature" placeholder="Nature">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkReligion" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputReligion">Religion</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputReligion" placeholder="Religion">
                                </div>
                            </div>
                            <div class="form-row">
                                <h4 class="card-title">Dexterity</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkAcrobatics" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAcrobatics">Acrobatics</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputAcrobatics" placeholder="Acrobatics">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkSleightofHand" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputSleightofHand">Sleight of Hand</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputSleightofHand" placeholder="Sleight of Hand">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkStealth" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputStealth">Stealth</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputStealth" placeholder="Stealth">
                                </div>
                            </div>
                            <div class="form-row">
                                <h4 class="card-title">Wisdom</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkAnimalHandling" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAnimalHandling">Animal Handling</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputAnimalHandling" placeholder="Animal Handling">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkInsight" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputInsight">Insight</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputInsight" placeholder="Insight">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkMedicine" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputMedicine">Medicine</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputMedicine" placeholder="Medicine">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkPerception" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPerception">Perception</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputPerception" placeholder="Perception">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkSurvival" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputSurvival">Survival</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputSurvival" placeholder="Survival">
                                </div>
                            </div>
                            <div class="form-row">
                                <h4 class="card-title">Charisma</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkDeception" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputDeception">Deception</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputDeception" placeholder="Deception">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkIntimidation" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputIntimidation">Intimidation</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputIntimidation" placeholder="Intimidation">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkPerformance" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPerformance">Performance</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputPerformance" placeholder="Performance">
                                </div>
                                <div class="form-check" style="margin-top: 25px;margin-left:5px">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkPersuasion" value="">
                                    </label>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inpuPersuasion">Persuasion</label>
                                    <input type="number" min="0" max="100" class="form-control" id="inputPersuasion" placeholder="Persuasion">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" id="btnRandom" class="btn btn-primary">Random</button>
        </form>

    </div>

<!--     CSS       -->
 <style>
     .card-header:after {
         font-family: 'FontAwesome';
         content: "\f068";
         float: right;
     }

    .card-header.collapsed:after {
         /* symbol for "collapsed" panels */
         content: "\f067";
     }

 </style>

<!--     JS       -->
<script>
    $('#btnRandom').on('click', function () {
        $('#passingtorazor').val('20');
    });
</script>