@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    
</hgroup>


<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Andrew Byers</span>
        <span><a href="mailto:ab3911@mssate.edu">ab3911@msstate.edu</a></span>
    </p>
    <p>
        <span class="label">Cameron Bass</span>
        <span><a href="mailto:wcb262@msstate.edu">wcb262@msstate.edu</a></span>
    </p>
    <p>
        <span class="label">Alex Felder</span>
        <span><a href="mailto:af1460@msstate.edu">af1460@msstate.edu</a></span>
    </p>
</section>

