@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Charactor Creater";


    //var db = Database.Open("MySQLDB");

    //var selectQueryString = "SELECT * FROM users";

}
<!DOCTYPE html>
<html>
<head>
    <title>Charactor Creater</title>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>LODHATS Charactor Creater</h1>
</body>
</html>
<div id="contentframe" style="position:relative; top: 0px; left: -360px;">
    <iframe src="~/create_char.aspx" width="1280" height="720" scrolling="yes"></iframe>
</div>