@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}


    <div class=" text-center">
        <img src="~/Images/best-background-for-every-class-main_1.PNG" width=" 1500" height=" 900" />
    </div>
