@{
    Layout = "~/_SiteLayout.cshtml";
    var side = "";
    var rollnum = "";
    var modifier = "";

    if (IsPost)
    {
        side = Request.Form["passingtorazor"];
        modifier = Request.Form["modifier"];

        Die die = new Die();
        rollnum = die.roll(Int32.Parse(side)).ToString();

        //play audio

    }
}
<div class="jumbotron vertical-center">
    <h1 class="text-center">DICE</h1>
    <p class="text-center">For official dice rules and regulations click <a href="https://dnd.wizards.com/rules-introduction">here</a></p>
</div>
<form class="form-group container-fluid" method="post">
    <div class="form-row d-flex justify-content-center mb-2">
        <div class="form-inline">
            <div class="mr-2">
                <button name="D-20" id="D-20" class="btn-img">
                    <div class="img-wrap">
                        <img src="~/Images/dice-twenty-faces-twenty1.png" class="img-thumbnail rounded" alt="D-20" />
                    </div>
                </button>
            </div>
            <button name="D-12" id="D-12" class="btn-img">
                <div class="img-wrap">
                    <img src="~/Images/d121.png" class="img-thumbnail rounded" alt="D-12" />
                </div>
            </button>
        </div>
    </div>
    <div class="form-row d-flex justify-content-center">
        <div class="form-inline">
            <div class="mr-2">
                <button name="D-10" id="D-10" class="btn-img">
                    <div class="img-wrap">
                        <img src="~/Images/d101.png" class="img-thumbnail rounded" alt="D-10" />
                    </div>
                </button>
            </div>
            <button name="D-8" id="D-8" class="btn-img">
                <div class="img-wrap">
                    <img src="~/Images/dice-eight-faces-eight2.png" class="img-thumbnail rounded" alt="D-8" />
                </div>
            </button>
        </div>
    </div>
    <br />
    <div class="text-center">Please click a dice to generate a random die roll.</div>
    <br>
    <div class="d-flex justify-content-center">
        <label class="form-inline">
            <input class="form-control" type="text" id="rollgenerated" placeholder="Roll Generated..." value="@rollnum" readonly>
            +
            <input type="number" min="0" max="20" class="form-control" name="modifier" id="modifier" value="@modifier" placeholder="Modifier">
            <input type="hidden" name="passingtorazor" id="passingtorazor">
        </label>
    </div>
    @if (IsPost)
    {
        if(modifier == "")
        {
            modifier = "0";
        }
        var overall = Int32.Parse(modifier) + Int32.Parse(rollnum);
        <div class="d-flex justify-content-center row">
            <h1>@overall</h1>

        </div>
        <div class="d-flex justify-content-center row">
            <br />
            <p>Roll Generated!</p>

        </div>
    }
</form>

<!---    JS          -->
<script>
    $('#D-20').on('click', function () {
        $('#passingtorazor').val('20');
    });
    $('#D-12').on('click', function () {
        $('#passingtorazor').val('12');
    });
    $('#D-10').on('click', function () {
        $('#passingtorazor').val('10');
    });
    $('#D-8').on('click', function () {
        $('#passingtorazor').val('8');
    });
</script>

<!--   CSS      -->
<style>
    .btn-img {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    .btn-img:hover .img-wrap {
        background-color: black;
    }

    .btn-img:hover img {
        opacity: 0.8;
    }
    body, html {
        height: 100%;
    }
</style>