@{
    Layout = "~/_SiteLayout.cshtml";
    var db = Database.Open("MySQLDB");
    var characterid = Request.QueryString["characterid"];

    Validation.RequireField("partyname", "Party name is a required field.");
    Validation.RequireField("partypassword", "Party password is a required field.");

    var add_error = false;
    //var leader = 0;


    if (IsPost)
    {

        if (Validation.IsValid())
        {
            var partyname = Request.Form["partyname"].ToString();
            var partypassword = Request.Form["partypassword"].ToString();

            Party party = DatabaseManagement.getPartyFromName(partyname);

            if (party.checkPassword(partypassword) && !party.isFull())
            {




                party.Add(Int32.Parse(Session["userID"].ToString()), Int32.Parse(characterid));
                DatabaseManagement.updateParty(party);
                Response.Redirect(@Href("~/party.cshtml?partyid=" + party.getPartyID()));

            }

            add_error = true;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />
    <div class="container">
        <form method="post" id="party_form">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card mt-6">
                        <div class="card-header">
                            <h1>Join a Party</h1>
                            <h3>Use the Party Name and Party Password to join your friends.</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-sm-2">
                                    <label for="partyid">Party Name:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Party Name" id="partyname" name="partyname" value="" />
                                    @*Html.ValidationMessage("partyname")*@
                                </div>                                    
                            </div>
                            <br />
                            <div class="row">                                
                                <div class="col-sm-2">
                                    <label for="partypassword">Party Password:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Party Password" id="partypassword" name="partypassword" value="" />
                                    @*Html.ValidationMessage("partypassword")*@
                                </div>                                    
                            </div>
                            <br />                            
                             @Html.ValidationSummary()                            
                            <br />
                            <br />
                            <div class="form-row">                                                                                                            
                                <div class="col-sm-7">
                                    <button type="button" class="btn-sm"><a style="color:black" href="partycreator.cshtml?characterid=@characterid" class="btn-sm" role="button">Create Party</a></button>
                                    @if (add_error)
                                    {
                                        <p style="color:red">ERROR: Cannot add member.</p>
                                    }                                    
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn-sm" action="partycreator.cshtml?characterid=@characterid">Submit</button>
                                </div>                                                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </form>
    </div>

</body>
</html>
